<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Salad</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container visible-text">
        <div class="hero">
            <img src="../static/assets/logo.svg" alt="Logo">
        </div>
        <div class="content">
            <h2>You're given a word to describe. Your goal is to outwit the AI who tries to guess what word you mean.</h2>
            <button id="play-button">Play</button>
        </div>
    </div>
    <div class="game-container invisible-text">
        <div class="columns">
            <img src="../static/assets/chef_joe_idle.svg" alt="Chef Joe" class="chef-image">
            <div class="text-container">
                <h1 id="round-1">Round 1: Your Turn</h1>
                <h2><em>the word is...</em></h2>
                <h2>paper</h2>
                <input type="text" placeholder="Type your guess here...">
            </div>
        </div>
    </div>
</body>
<script src="../static/main.js"></script>
</html>
